@tailwind base;
@tailwind components;
@tailwind utilities;
 



/* 
red- 4 67% 54%
red sec = 4 67% 44%
brown- 336 5% 21%
peach dark - 34 38% 85%
peach light - 32 38% 92%
*/

@layer base {
  :root {
    --background: 34 38% 85%;
    --foreground: 32 38% 92%;
    --card: 32 38% 92%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 4 67% 44%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 4 67% 54%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 4 67% 54%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 4 67% 54%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 4 67% 54%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-['stretch'];
  }
  html{
    height: fill-available;
    height: -webkit-fill-available;
  }
  .gradient-text{
    background-image: linear-gradient(hsl(var(--primary)),hsl(var(--secondary)));
    background-clip: text;
    color: transparent;
  }
}